@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body{
    background-image: url(image/rockcrowd.jpg);
    background-color: black;
    background-size: cover;
    background-position: bottom 50px;
    margin: 0px;
    padding: 0px;    

}

.logo{
    border-radius: 50px;
    width: 60%;
    scale: 100%;
    box-shadow: 0px 0px 50px rgb(183, 65, 14);  
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    padding: 0%;
    margin: 0%;
    
}

.cabecalho{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    position: sticky;
    top: 0;
    border: 5px solid none;
    background-color: black;
}

.topo{
    width: 500px;
}

.indice{
    font-family: "Caprasimo", serif;
    font-size: 26px;
    width: 500px;
}

.indice2{
    font-family: "Caprasimo", serif;
    font-size: 26px;
    width: 500px;
}

.indice3{
    font-family: "Caprasimo", serif;
    font-size: 26px;
    width: 400px;
}

.letra{
    color: white;
    text-align: center;
}

main{
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
}

h2{
    text-align: center;
}

.curiosidade{
    background-color: rgb(255, 255, 255, 0.5);
    background-size: 300px;
    border-radius: 25px;
    padding: 25px;
    margin: 25px;
}

.discografia{
    background-color: rgb(255, 255, 255, 0.5);
    background-size: 300px;
    border-radius: 25px;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spotify{
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 80px rgb(0, 0, 0);
}

