.caixa{
    justify-content: center;
    align-items: center;
    display: flex;
    scale: 90%;
}

.caixaLP{
    justify-content: center;
    align-items: center;
    display: flex;

    background-image: url(image/logp);
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 0px;
}

.disco{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-image: url(image/capa.jpg);
    border: 0px;    

    margin:0;
    text-align: auto;
    padding: 0px;
    
    justify-content: center;
    align-items: center;
    display: flex;
}
.discoLP{
    width: auto;    
    
}
.tradução{
    width: auto;
    top: 5px;
    
}
.lyrics{
    background-color: rgb(192,192,192,0.4);
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.lyricsLP{
    
    color: white;
    text-align: right;
    margin: 5px;
}
.traduçãoLP{
    
    color: white;
    text-align: left;
    margin: 5px;

}

.logo{
    border-radius: 50px;
    width: 100%;
    scale: 60%;
    position: flex;
    box-shadow: 0px 0px 30px rgb(51, 0, 255);  
}
h1{
    text-align: center;    
}

H3{
    text-align: center;
    color: white;
}

body{
    background-image:url(image/fundoLP.gif);
    background-attachment: scroll;
    background-position: top;
    background-size: 100%;
    scale: auto;
}