body{
    background-image: url(image/fundo.webp);
    background-color: darkgrey;
}
.titulo{
    font-family: cursive;
    font-size: 25px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.letra{
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: end;
    font-family: Arial;
    font-size: 16px;

}

.capa{
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 75px;
    padding: 15px;
}


.logo{
    border-radius: 50px;
    margin: 50px;
    padding: 10px;
    width: auto;
}
h1{
    text-align: center;
}
.layout{
    background-color: rgba(245,222,179,0.7);
    width: 600px;
    height: auto;
    border-radius: 50px;
    margin: 30px;
    display: inline-block;
    text-align: justify;
}
pre{
    font-family: sans-serif;
}
.core{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.layout1{    
    width: 600px;
    height: auto;
    border-radius: 50px;
    margin: 30px;
    display: inline-block;
}

.capa1{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 75px;
    text-align: center;
    background-color: rgba(245,222,179,0.7);
    padding: 15px;
}
.capa2{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 75px;
    text-align: center;
    background-color: rgba(245,222,179,0.7);
    padding: 15px;
}
p{
    font-family: sans-serif;
}